/* 
https://codepen.io/
*/

@import url('https://fonts.googleapis.com/css?family=Rubik:500');

* {margin: 0; padding: 0}
html, body {height: 100%; margin: 0; background-color: rgb(50,50,50)}
canvas {outline: none; position: absolute; }

dialog
{
  max-width: 90%; 
  position: absolute; 
  left: 50%; 
  top: 50%; 
  font-family: rubik;
  transform: translate(-50%, -50%); 
  background-color: dimgray;
  padding: 20px 20px 20px 20px; 
  border-radius: 10px;
  max-height: 80vh;
  border-width: 6px; 
  border-color: lightsteelblue; 
  overflow-y: scroll;
}

dialog::backdrop 
{
  background-color: rgba(0,0,0,0.7);
}

label
{
  display: block;
  font-weight: bold; 
  text-align: left;
  font-size: 1em;
  font-family: rubik;
  width: 100%; 
  border-radius: 5px;
  height: 34px;
  line-height: 34px;
}

input
{
  padding: 5px 12px;
  line-height: 20px;
  vertical-align: middle;
  background-color: Silver;
  height: 44px;
  resize: none;
  font-family: rubik;
  padding: 15px;
  outline: none;
  border-radius: 50px;
  border-width: 6px;
  border-color: lightsteelblue;
  color: black;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box; 
  width: 100%; 
  font-size: 1.2em; 
}

textarea 
{
  height: 100%;
  resize: none;
  background-color: white;
  border-style: inset; 
  border-radius: 0px;
  border-width: 0px;
  font-family: rubik;
  outline: none; 
  box-sizing: border-box; 
  width: 100%; 
  padding: 10px; 
  font-size: 1em; 
  color: black;
  text-align: left;
  font-weight: bold;
}

button
{
  text-align: center;
  background-color: white;
  border: 10;
  color: white;
  font-size: 24px;
  border-radius: 4px;
  border-color: lightsteelblue;
  color: lightsteelblue;
  margin-top: 30px;
  margin-left: 322px;
}
